/* user-dashboard.module.css */

  

  
  .btn-error {
    background-color: #252525;
    color: #fff;
    border: none;
    
  }
  
  .bg-white {
    background-color: #ffffff;
  }
  
  .shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .rounded {
    border-radius: 8px;
  }
  
  .swiper {
    padding: 20px 0 40px;
  }
  
  .swiper-slide {
    height: auto;
  }
  
  @media (max-width: 768px) {
    .card {
      min-width: 320px;
      margin: 0 auto;
    }
  }
  
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    overflow: hidden;
  }
  